# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.log

# Excel temporales
~$*.xlsx
